.section-title-container {
  margin-left: 1rem;
  margin-right: 1rem;
}
.section-title-container h3 {
  font-family: sans-serif;
  margin: 100px auto;
  color: #228B22;
  padding-left: 20%;
  font-size: 30px;
  width: 100%;
  position: relative;
}
.section-title-container h3:before, .section-title-container h3:after {
  content: "";
  display: block;
  height: 2px;
  background: #000;
  top: 50%;
  position: absolute;
}
.section-title-container h3:before {
  left: 0;
  width: 15%;
}
.title-after-small h3:after {
  right: 0;
  width: 35%;
}
.title-after-medium h3:after {
  right: 0;
  width: 55%;
}
.title-after-big h3:after {
  right: 0;
  width: 65%;
}
