.nav {
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  color: #02c39a !important;
  font-size: 1.6em;
}
.active {
  color: #05668d !important;
  background-color: #f1f9fe !important;
}
